*{
    margin: 0;
    font-family: Poppins, sans-serif;

}

.inputGrup{
    display: flex;
    flex-direction: column;
    height: 10vh;
}

body{
    margin: 0;
    background-color: whitesmoke;
}

header{
    height: 10vh;
    padding: 2vh 3vh;
}
main{
    height: 80vh;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#content{
    display: flex;
    flex-direction: column;
    width: 85vw;
    padding-top: 8vh;
}

#results{
    width: 85%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}


.result-text{
    display: none;
}

.indi-values{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



#showCharts{
    height: 15%;
    width: 85%;
    /* background-color: blue; */
}

#coins{
    width: 85%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
}